@import "../bootstrap/css/bootstrap.css";
@import "../fontawesome/css/all.css";
@import "./fonts.css";
@import "./simpleSnackbar.min.css";

.btn-pubg {
  border-radius: 0 !important;
  margin-top: 2rem;
  background: rgb(234, 163, 0, 1);
  letter-spacing: 0.05rem;
  color: #000;
  border: 1px solid #ffcc57;
  outline: none;
  text-transform: uppercase;
  font-family: "Teko", sans-serif;
  transition: all 0.2s ease-in-out;
}

.btn-pubg:hover:not(.disabled) {
  color: #fff;
  transform: scale(1.1);
}

.navbar {
  background: #000024;
  border-bottom: 1px solid #feab02;
  font-family: "Teko", sans-serif;
  height: 80px;
}

.navbar-brand img {
  width: 128px;
  height: 128px;
  margin-right: 5px;
  border-radius: 5px;
  float: left;
}

.navbar-brand {
  color: #feab02 !important;
}

.top-tit {
  color: #feab02;
  font-size: 28px;
  padding-left: 15px;
  line-height: 1;
  display: block;
}

.navbar-brand span {
  display: block;
  color: #d9d9d8;
  font-size: 18px;
  line-height: 1;
}

@media only screen and (max-width: 600px) {

.navbar {
    height: 65px;
}
  .navbar-brand img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }

  .navbar-brand span {
    font-size: 14px;
  }

  .top-tit {
    font-size: 18px;
    padding-top: 6px;
    padding-left: 8px;
  }
}



/* The snackbar - position it at the bottom and in the middle of the screen */

#snackbar {
  visibility: hidden;
  /* Hidden by default. Visible on click */
  min-width: 250px;
  /* Set a default minimum width */
  margin-left: -125px;
  /* Divide value of min-width by 2 */
  background: #feab02;
  border: 1px solid #ffcc57;
  /* Black background color */
  color: #000;
  /* White text color */
  text-align: center;
  /* Centered text */
  /* Rounded borders */
  padding: 16px;
  /* Padding */
  position: fixed;
  /* Sit on top of the screen */
  z-index: 1;
  /* Add a z-index if needed */
  left: 50%;
  /* Center the snackbar */
  bottom: 50%;
  /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */

#snackbar.show {
  visibility: visible;
  /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
    However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}