@import "./simpleSnackbar.min.css";
@import "./common.css";

body {
  background: url(../images/banner/shop_bgm.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  color: #fff;
  font-family: "Teko", sans-serif;
  margin: 0;
  padding: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif; */
}

ul {
  margin: 0;
  padding: 0;
}

#wrapper {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.title {
  font-size: 8rem;
  background: -webkit-linear-gradient(#ffffff, #f7e29e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "PUBG";
  /* margin-top: 2rem; */
}

a {
  color: #000;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: #fff;
}

r {
  color: #f00;
}

li {
  display: inline-block;
  font-size: 1.5em;
  list-style-type: none;
  padding: 1em;
  text-transform: uppercase;
}

li span {
  display: block;
  font-size: 4.5rem;
}

@media only screen and (max-width: 600px) {
  body {
    background-image: url(../images/banner/kv_1s.jpg);
    background-size: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: darken;
  }

  h1.title {
    font-size: 6rem !important;
  }

  ul {
    background-color: rgb(234, 163, 0, 0.5);
    outline: 1px solid #ffcc57;
    color: #000;
    margin-top: rem;
  }

  li {
    font-size: 1rem !important;
  }

  li span {
    font-size: 3.5rem !important;
  }
}
